<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <p>
        <% data.forEach((post)=>{ %>
        <ul>
            <li>
                <h1>
                    <%=post.title %>
                </h1>
            </li>
            <p>
                <%=post.body %>
            </p>
            <a href="/post/<%=post.ID%>">View</a>
            <a href="/post/<%=post.ID %>/delete">Delete Post</a>
        </ul>
        <% }) %>
    </p>
</body>

</html>