<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Single post</title>
</head>

<body>
    <p>
        <h1>
            <%=post.title %>
        </h1>
        <h4>
            <%=post.body %>
        </h4>
        <a href="/post/<%=post.ID %>/delete">Delete Post</a>

    </p>
</body>

</html>